body {
    background-image: linear-gradient(purple, darkblue);
}

.main {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;
}

button {
    height: 40px;
    width: 120px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-weight: 600;
    transition: 1s all ease;
}

.btn1:hover {
    transform: rotateX(180deg);
}

.btn2:hover {
    transform: rotateY(180deg);
    /* backface-visibility: hidden; */
}

.btn3:hover {
    transform: rotate(360deg);
}

.btn4:hover {
    transform: skewX(20deg);
}

.btn5:hover {
    transform: skewY(10deg);
}

.btn6:hover {
    transform: scale(0.8);
}

.btn7:hover {
    transform: scaleX(1.2);
}

.btn8:hover {
    transform: translateX(10px);
}

.btn9:hover {
    transform: translateY(10px);
}

.btn10:hover {
    border-top: 8px solid plum;
    border-bottom: 8px solid plum;
}

.btn11:hover {
    border-right: 8px solid palevioletred;
    border-left: 8px solid palevioletred;
}

.btn12 {
    border-radius: 10px;
}

.btn12:hover {
    border: 5px dotted rgb(202, 23, 83);
    border-radius: 0;
}