* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin: 0px 80px;
}

/* ========================= header ============================ */
header {
    background-color: powderblue;
}

header .header-p {
    padding: 20px 0px;
}

header .navigation {
    display: flex;
    align-items: center;
}

header .navigation .logo {
    flex: 0.5;
}

header .navigation .logo a {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}

header .navigation .logo a span {
    color: #ce6d06;
}

header .navigation .nav-list {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

header .navigation .nav-list ul {
    display: flex;
    gap: 20px;
}

header .navigation .nav-list ul a {
    color: white;
    font-weight: 500;
}

header .navigation .nav-list .search {
    display: flex;
    gap: 20px;
    align-items: center;
}

header .navigation .nav-list .search span {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

header .navigation .nav-list .search button {
    height: 40px;
    width: 120px;
    background-color: #ce6d06;
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

header .navigation .theme {
    padding: 0px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

header .navigation .theme span {
    font-size: 22px;
    color: white;
}

header .navigation .theme button {
    height: 40px;
    width: 40px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    display: none;
}

/* header .navigation .bar {
    display: none;
} */

/* header .navigation .bar button {
    height: 40px;
    width: 40px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
} */