@media(min-width:992px) {
    /* inherit */


    /* ================== home image ================ */
    .home-image .homeimg-p {
        padding: 150px 0px;
    }

    .home-image .homeimg-text h1 {
        font-size: 50px;
        width: 75%;
    }

    .home-image .homeimg-text p {
        width: 50%;
    }

    /* ================ best coffee for you ================== */

    /* inherit from minwidth:768px */

    /* ========================== product ===================== */

    .product .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* ========================= services ========================== */

    .services .service-p {
        padding: 50px 0px;
    }

    .services .service-flex {
        display: flex;
    }

    .services .service-flex .left-ser-content {
        flex: 1;
        text-align: justify;
    }

    .services .service-flex .left-ser-content .read-btn {
        padding-bottom: 30px;
    }

    .services .service-flex .right-ser-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* ============================== coffee gallery =============================== */

    .coffee-gallery .gallery-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}